<!-- Menu de navegación
 siguiendo la siguiente estructura:
 header
│
└── nav
     │
     ├── logo
     └── menu
      
     menu
│
├── Inicio
├── Usuarios
├── Perfil
└── Salir
-->
<header>
  <nav>
    <div class="logo">
      <a href="/">
        <img src="/static/img/logo.png" alt="Logo de Fakebook" />
      </a>
    </div>
    <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/usuarios">Usuarios</a>
      <a href="/perfil">Perfil</a>
      <a href="/logout">Salir</a>
    </div>
  </nav>
</header>
